@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_default_styles {
  --mixin-ndc9tip5F6DJ_font-family: "Inter";
  --mixin-ndc9tip5F6DJ_font-size: 16px;
  --mixin-ndc9tip5F6DJ_font-weight: 400;
  --mixin-ndc9tip5F6DJ_font-style: normal;
  --mixin-ndc9tip5F6DJ_color: #535353;
  --mixin-ndc9tip5F6DJ_text-align: left;
  --mixin-ndc9tip5F6DJ_text-transform: none;
  --mixin-ndc9tip5F6DJ_line-height: 1.5;
  --mixin-ndc9tip5F6DJ_letter-spacing: normal;
  --mixin-ndc9tip5F6DJ_white-space: pre-wrap;
  --mixin-ndc9tip5F6DJ_user-select: text;
  --mixin-ndc9tip5F6DJ_text-decoration-line: none;
  --mixin-ndc9tip5F6DJ_text-overflow: clip;
  --mixin-5KAgP1umFwYv_color: #000000;
  --mixin-5KAgP1umFwYv_font-weight: 900;
  --mixin-5KAgP1umFwYv_font-size: 72px;
  --mixin-5KAgP1umFwYv_line-height: 1;
  --mixin-5KAgP1umFwYv_letter-spacing: -4px;
  --mixin-eDf8cuBguqYI_font-family: "Inter";
  --mixin-eDf8cuBguqYI_color: #000000;
  --mixin-eDf8cuBguqYI_font-size: 48px;
  --mixin-eDf8cuBguqYI_font-weight: 700;
  --mixin-eDf8cuBguqYI_letter-spacing: -1px;
  --mixin-eDf8cuBguqYI_line-height: 1.1;
  --mixin-vB7n-97nSlhk_color: #0070f3;
  --mixin-aviwQFdWU8zP_font-family: "Inter";
  --mixin-aviwQFdWU8zP_color: #000000;
  --mixin-aviwQFdWU8zP_font-size: 32px;
  --mixin-aviwQFdWU8zP_font-weight: 600;
  --mixin-aviwQFdWU8zP_letter-spacing: -0.8px;
  --mixin-aviwQFdWU8zP_line-height: 1.2;
  --mixin-T5KbmZatTQt5_font-family: "Inter";
  --mixin-T5KbmZatTQt5_color: #000000;
  --mixin-T5KbmZatTQt5_font-size: 24px;
  --mixin-T5KbmZatTQt5_font-weight: 600;
  --mixin-T5KbmZatTQt5_letter-spacing: -0.5px;
  --mixin-T5KbmZatTQt5_line-height: 1.3;
  --mixin-PO36atcZbpS__background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-PO36atcZbpS__border-bottom-color: #dddddd;
  --mixin-PO36atcZbpS__border-bottom-style: solid;
  --mixin-PO36atcZbpS__border-bottom-width: 1px;
  --mixin-PO36atcZbpS__border-left-color: #dddddd;
  --mixin-PO36atcZbpS__border-left-style: solid;
  --mixin-PO36atcZbpS__border-left-width: 1px;
  --mixin-PO36atcZbpS__border-right-color: #dddddd;
  --mixin-PO36atcZbpS__border-right-style: solid;
  --mixin-PO36atcZbpS__border-right-width: 1px;
  --mixin-PO36atcZbpS__border-top-color: #dddddd;
  --mixin-PO36atcZbpS__border-top-style: solid;
  --mixin-PO36atcZbpS__border-top-width: 1px;
  --mixin-PO36atcZbpS__border-bottom-left-radius: 3px;
  --mixin-PO36atcZbpS__border-bottom-right-radius: 3px;
  --mixin-PO36atcZbpS__border-top-left-radius: 3px;
  --mixin-PO36atcZbpS__border-top-right-radius: 3px;
  --mixin-PO36atcZbpS__font-family: "Inconsolata";
  --mixin-PO36atcZbpS__padding-bottom: 1px;
  --mixin-PO36atcZbpS__padding-left: 4px;
  --mixin-PO36atcZbpS__padding-right: 4px;
  --mixin-PO36atcZbpS__padding-top: 1px;
  --mixin-4mr1visNDT2A_border-left-color: #dddddd;
  --mixin-4mr1visNDT2A_border-left-style: solid;
  --mixin-4mr1visNDT2A_border-left-width: 3px;
  --mixin-4mr1visNDT2A_color: #888888;
  --mixin-4mr1visNDT2A_padding-left: 10px;
  --mixin-sTkn-gqD4jXk_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-sTkn-gqD4jXk_border-bottom-color: #dddddd;
  --mixin-sTkn-gqD4jXk_border-bottom-style: solid;
  --mixin-sTkn-gqD4jXk_border-bottom-width: 1px;
  --mixin-sTkn-gqD4jXk_border-left-color: #dddddd;
  --mixin-sTkn-gqD4jXk_border-left-style: solid;
  --mixin-sTkn-gqD4jXk_border-left-width: 1px;
  --mixin-sTkn-gqD4jXk_border-right-color: #dddddd;
  --mixin-sTkn-gqD4jXk_border-right-style: solid;
  --mixin-sTkn-gqD4jXk_border-right-width: 1px;
  --mixin-sTkn-gqD4jXk_border-top-color: #dddddd;
  --mixin-sTkn-gqD4jXk_border-top-style: solid;
  --mixin-sTkn-gqD4jXk_border-top-width: 1px;
  --mixin-sTkn-gqD4jXk_border-bottom-left-radius: 3px;
  --mixin-sTkn-gqD4jXk_border-bottom-right-radius: 3px;
  --mixin-sTkn-gqD4jXk_border-top-left-radius: 3px;
  --mixin-sTkn-gqD4jXk_border-top-right-radius: 3px;
  --mixin-sTkn-gqD4jXk_font-family: "Inconsolata";
  --mixin-sTkn-gqD4jXk_padding-bottom: 3px;
  --mixin-sTkn-gqD4jXk_padding-left: 6px;
  --mixin-sTkn-gqD4jXk_padding-right: 6px;
  --mixin-sTkn-gqD4jXk_padding-top: 3px;
  --mixin-2QwRpzncs6mC_display: flex;
  --mixin-2QwRpzncs6mC_flex-direction: column;
  --mixin-2QwRpzncs6mC_align-items: stretch;
  --mixin-2QwRpzncs6mC_justify-content: flex-start;
  --mixin-2QwRpzncs6mC_list-style-position: outside;
  --mixin-2QwRpzncs6mC_padding-left: 40px;
  --mixin-2QwRpzncs6mC_position: relative;
  --mixin-2QwRpzncs6mC_list-style-type: disc;
  --mixin-6JWGUU4x1HV2_display: flex;
  --mixin-6JWGUU4x1HV2_flex-direction: column;
  --mixin-6JWGUU4x1HV2_align-items: stretch;
  --mixin-6JWGUU4x1HV2_justify-content: flex-start;
  --mixin-6JWGUU4x1HV2_list-style-position: outside;
  --mixin-6JWGUU4x1HV2_padding-left: 40px;
  --mixin-6JWGUU4x1HV2_position: relative;
  --mixin-6JWGUU4x1HV2_list-style-type: decimal;
  --mixin-9RXd1KDPOk-i_font-family: "Inter";
  --mixin-9RXd1KDPOk-i_color: #000000;
  --mixin-9RXd1KDPOk-i_font-size: 20px;
  --mixin-9RXd1KDPOk-i_font-weight: 600;
  --mixin-9RXd1KDPOk-i_letter-spacing: -0.3px;
  --mixin-9RXd1KDPOk-i_line-height: 1.5;
  --mixin-iJEvjtgIod0h_font-family: "Inter";
  --mixin-iJEvjtgIod0h_color: #000000;
  --mixin-iJEvjtgIod0h_font-size: 16px;
  --mixin-iJEvjtgIod0h_font-weight: 600;
  --mixin-iJEvjtgIod0h_line-height: 1.5;
  --mixin-8_6F2iJ_cBoWi_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-ndc9tip5F6DJ_font-family);
  font-size: var(--mixin-ndc9tip5F6DJ_font-size);
  font-weight: var(--mixin-ndc9tip5F6DJ_font-weight);
  font-style: var(--mixin-ndc9tip5F6DJ_font-style);
  color: var(--mixin-ndc9tip5F6DJ_color);
  text-align: var(--mixin-ndc9tip5F6DJ_text-align);
  text-transform: var(--mixin-ndc9tip5F6DJ_text-transform);
  line-height: var(--mixin-ndc9tip5F6DJ_line-height);
  letter-spacing: var(--mixin-ndc9tip5F6DJ_letter-spacing);
  white-space: var(--mixin-ndc9tip5F6DJ_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-5KAgP1umFwYv_color);
  font-weight: var(--mixin-5KAgP1umFwYv_font-weight);
  font-size: var(--mixin-5KAgP1umFwYv_font-size);
  line-height: var(--mixin-5KAgP1umFwYv_line-height);
  letter-spacing: var(--mixin-5KAgP1umFwYv_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-eDf8cuBguqYI_font-family);
  color: var(--mixin-eDf8cuBguqYI_color);
  font-size: var(--mixin-eDf8cuBguqYI_font-size);
  font-weight: var(--mixin-eDf8cuBguqYI_font-weight);
  letter-spacing: var(--mixin-eDf8cuBguqYI_letter-spacing);
  line-height: var(--mixin-eDf8cuBguqYI_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-vB7n-97nSlhk_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-aviwQFdWU8zP_font-family);
  color: var(--mixin-aviwQFdWU8zP_color);
  font-size: var(--mixin-aviwQFdWU8zP_font-size);
  font-weight: var(--mixin-aviwQFdWU8zP_font-weight);
  letter-spacing: var(--mixin-aviwQFdWU8zP_letter-spacing);
  line-height: var(--mixin-aviwQFdWU8zP_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-T5KbmZatTQt5_font-family);
  color: var(--mixin-T5KbmZatTQt5_color);
  font-size: var(--mixin-T5KbmZatTQt5_font-size);
  font-weight: var(--mixin-T5KbmZatTQt5_font-weight);
  letter-spacing: var(--mixin-T5KbmZatTQt5_letter-spacing);
  line-height: var(--mixin-T5KbmZatTQt5_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-PO36atcZbpS__background);
  font-family: var(--mixin-PO36atcZbpS__font-family);
  border-radius: var(--mixin-PO36atcZbpS__border-top-left-radius)
    var(--mixin-PO36atcZbpS__border-top-right-radius)
    var(--mixin-PO36atcZbpS__border-bottom-right-radius)
    var(--mixin-PO36atcZbpS__border-bottom-left-radius);
  padding: var(--mixin-PO36atcZbpS__padding-top)
    var(--mixin-PO36atcZbpS__padding-right)
    var(--mixin-PO36atcZbpS__padding-bottom)
    var(--mixin-PO36atcZbpS__padding-left);
  border-top: var(--mixin-PO36atcZbpS__border-top-width)
    var(--mixin-PO36atcZbpS__border-top-style)
    var(--mixin-PO36atcZbpS__border-top-color);
  border-right: var(--mixin-PO36atcZbpS__border-right-width)
    var(--mixin-PO36atcZbpS__border-right-style)
    var(--mixin-PO36atcZbpS__border-right-color);
  border-bottom: var(--mixin-PO36atcZbpS__border-bottom-width)
    var(--mixin-PO36atcZbpS__border-bottom-style)
    var(--mixin-PO36atcZbpS__border-bottom-color);
  border-left: var(--mixin-PO36atcZbpS__border-left-width)
    var(--mixin-PO36atcZbpS__border-left-style)
    var(--mixin-PO36atcZbpS__border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-4mr1visNDT2A_color);
  padding-left: var(--mixin-4mr1visNDT2A_padding-left);
  border-left: var(--mixin-4mr1visNDT2A_border-left-width)
    var(--mixin-4mr1visNDT2A_border-left-style)
    var(--mixin-4mr1visNDT2A_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-sTkn-gqD4jXk_background);
  font-family: var(--mixin-sTkn-gqD4jXk_font-family);
  border-radius: var(--mixin-sTkn-gqD4jXk_border-top-left-radius)
    var(--mixin-sTkn-gqD4jXk_border-top-right-radius)
    var(--mixin-sTkn-gqD4jXk_border-bottom-right-radius)
    var(--mixin-sTkn-gqD4jXk_border-bottom-left-radius);
  padding: var(--mixin-sTkn-gqD4jXk_padding-top)
    var(--mixin-sTkn-gqD4jXk_padding-right)
    var(--mixin-sTkn-gqD4jXk_padding-bottom)
    var(--mixin-sTkn-gqD4jXk_padding-left);
  border-top: var(--mixin-sTkn-gqD4jXk_border-top-width)
    var(--mixin-sTkn-gqD4jXk_border-top-style)
    var(--mixin-sTkn-gqD4jXk_border-top-color);
  border-right: var(--mixin-sTkn-gqD4jXk_border-right-width)
    var(--mixin-sTkn-gqD4jXk_border-right-style)
    var(--mixin-sTkn-gqD4jXk_border-right-color);
  border-bottom: var(--mixin-sTkn-gqD4jXk_border-bottom-width)
    var(--mixin-sTkn-gqD4jXk_border-bottom-style)
    var(--mixin-sTkn-gqD4jXk_border-bottom-color);
  border-left: var(--mixin-sTkn-gqD4jXk_border-left-width)
    var(--mixin-sTkn-gqD4jXk_border-left-style)
    var(--mixin-sTkn-gqD4jXk_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-2QwRpzncs6mC_display);
  flex-direction: var(--mixin-2QwRpzncs6mC_flex-direction);
  align-items: var(--mixin-2QwRpzncs6mC_align-items);
  justify-content: var(--mixin-2QwRpzncs6mC_justify-content);
  list-style-position: var(--mixin-2QwRpzncs6mC_list-style-position);
  padding-left: var(--mixin-2QwRpzncs6mC_padding-left);
  position: var(--mixin-2QwRpzncs6mC_position);
  list-style-type: var(--mixin-2QwRpzncs6mC_list-style-type);
  flex-column-gap: var(--mixin-2QwRpzncs6mC_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-6JWGUU4x1HV2_display);
  flex-direction: var(--mixin-6JWGUU4x1HV2_flex-direction);
  align-items: var(--mixin-6JWGUU4x1HV2_align-items);
  justify-content: var(--mixin-6JWGUU4x1HV2_justify-content);
  list-style-position: var(--mixin-6JWGUU4x1HV2_list-style-position);
  padding-left: var(--mixin-6JWGUU4x1HV2_padding-left);
  position: var(--mixin-6JWGUU4x1HV2_position);
  list-style-type: var(--mixin-6JWGUU4x1HV2_list-style-type);
  flex-column-gap: var(--mixin-6JWGUU4x1HV2_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-9RXd1KDPOk-i_font-family);
  color: var(--mixin-9RXd1KDPOk-i_color);
  font-size: var(--mixin-9RXd1KDPOk-i_font-size);
  font-weight: var(--mixin-9RXd1KDPOk-i_font-weight);
  letter-spacing: var(--mixin-9RXd1KDPOk-i_letter-spacing);
  line-height: var(--mixin-9RXd1KDPOk-i_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-iJEvjtgIod0h_font-family);
  color: var(--mixin-iJEvjtgIod0h_color);
  font-size: var(--mixin-iJEvjtgIod0h_font-size);
  font-weight: var(--mixin-iJEvjtgIod0h_font-weight);
  line-height: var(--mixin-iJEvjtgIod0h_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-8_6F2iJ_cBoWi_color);
}
