.root:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__ssh1L {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__iypDe {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ypxXc {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
